/* Normalize */

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Iceberg', cursive;
}

p {
    font-family: 'Quicksand', sans-serif;
}

/* Global */

img {
    /*width: 355px;*/
    width: 100%;
    margin: 0 1px;
}

.icons {
    width: 70px;
}

/* Utilities */

.centerPls {
    display: grid;
    justify-items: center;
}

/* Nav bar */

.nav-bar {
    display: flex;
    margin: 0;
    padding: 17px;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
}

.sorneria a {
    margin-right: 50px;
    text-decoration: none;
    color: black;
    font-family: 'Iceberg', cursive;
    font-size: 20px;
}

/* Title */

.porfolio {
    text-align: center;
    font-size: 3rem;
}

/*Images*/

.container {
    display: grid;
    width: 100%;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 3px 5px;
    place-items: center;
}

.images-container img {
    border-radius: 10px;
}


/* medias */

@media ( min-width: 768px  ) {
    .container {
        width: 70%;
    }

    .icons {
        max-width: 100%;
    }
}

